html, body {
  padding: 0;
  margin: 0;
}

.container {
  position: relative;
  padding: 0;
  margin: 0;
}

.bg {
  width: 1120px;
  height: 1343px;
  background: url('./img/bg.png') no-repeat;
  background-size: cover;
}

.man-wrapper {
  position: absolute;
  top: 0;
  left: 534px;
  width: 46px;
  height: 75px;
  animation: move 20s linear;
  animation-fill-mode: forwards;
}

.man {
  width: 46px;
  height: 75px;
  background: url('./img/sprite.png') no-repeat;
  background-size: cover;
  background-position: 0 0;
  animation: run 300ms steps(2) infinite;
  animation-direction: alternate;
}

@keyframes run {
  from { background-position: 0 0 }
  to { background-position: -92px 0 }
}

@keyframes move {
  0%  {
    transform: translate3d(0, 0, 0);
  }

  10% {
    transform: translate3d(0, 278px, 0);
  }

  15% {
    transform: translate3d(-50px, 328px, 0) rotate3d(0, 0, 1, 90deg);
  }

  100% {
    transform: translate3d(-280px, 328px, 0) rotate3d(0, 0, 1, 90deg);
  }
}